.styles_modal__gNwvD {
    height: 400px;
    width: 800px;
    padding: 40px;
    h2 {
        font-family: $text-main;
        margin-bottom: 10px;
    }
    form {
        font-family: $text-secondary;
        display: flex;
        flex-direction: column;
        input {
            margin-bottom: 10px;
        }
        button {
            @include btn($callToAction, $background)
        }
    }
}
.party-modal {

}