
.party {
    display: flex;
    flex-direction: column;
    border: 2px solid $accentTwo;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px;
    min-height: 300px;
    background: $accentOne;
    min-width: 400px;
    font-family: $text-main;
    span {
        font-family: $text-secondary;
        font-weight: 300;
    }
    .party-split {
        display: flex;
    }
    .party-title {
        font-size: $font-lg;
    }
  }
 
