
  .party-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    width: 80%;
    margin: 0 auto;
    min-height: 600px;
  }
  .create-party {
      @include btn($accentTwo, $accentTwo)
  }
  
  
  .App {
    text-align: center;
  }
