//Color Palette
$background: #fff;
$accentOne: #f9cfe1;
$accentTwo: #8d99ae;
$callToAction: #e5106c;
$textColor: #353538;

//Text
$text-main: 'Elsie', cursive;
$text-secondary:'Josefin Sans', sans-serif;

$font-reg: 2.25rem;

//buttons
